<%= form_tag('/bookings/new', method: 'get') do %>
<%= label_tag(:passenger_count, "Number of passengers:  ") %>
<%= select_tag(:passenger_count, options_for_select([['1', 1], ['2', 2] ,
               ['3', 3], ['4', 4]]), {class: 'form-control'}) %>
  <%= submit_tag('Book') %>
  <div class='row'>
    <div class='table-responsive'>
      <table class='table table-hover'>
        <tr class='info'>
          <th></th>
          <th>Flight number</th>
          <th>Departing from</th>
          <th>Arriving to</th>
          <th>Departure time</th>
        </tr>
      <%= render @flights %>
    </table>
    </div>
  </div>
<% end %>
